{% extends 'base.html' %}
{% load substitute_finder_extra %}
{% load static %}
{% block header %}
    <header class="masthead very-shorthead text-center text-white d-flex"
            style="background-image:url({{ product.image_url }})">
        <div class="container mt-5 my-auto p-1 white-bg">
            <div class="row ">
                <div class="col mx-auto" id="{{ product.pk }}">
                    <h5 class="text-uppercase mussels-chips">
                        {{ product.product_name }}
                        {% if  user.is_authenticated %}
                            {% if user not in product.users.all %}
                                <a href="{% url 'substitute_finder:add_favorite' product.pk %}"
                                   class="chocolate add-favorite">
                                    <i class="fa fa-floppy-o"></i>
                                </a>
                            {% endif %}
                        {% endif %}
                    </h5>
                    <hr/>
                </div>
            </div>
        </div>
    </header>
{% endblock %}
{% block content %}
    <div class="container">
        {% if messages %}
            {% for message in messages %}
                <div class="jumbotron">
                    <h1 class="display-4">{{ message }}</h1>
                </div>
            {% endfor %}
        {% endif %}

        {% verbatim %}
            <div id="app">
            <div class="jumbotron" v-if="error">
                <h1 class="display-4">{{ error }}</h1>
            </div>
        {% endverbatim %}
        {% if user.is_authenticated %}
            {% verbatim %}
                <h2>Saisir un nouveau commentaire</h2>
                <form action="" id='add-form' v-on:submit.prevent="createComment(newComment)">
                    <div class="form-group">
                        <textarea class="form-control"
                                  name="comment_text"
                                  id="id_comment_text"
                                  cols="40"
                                  rows="3"
                                  placeholder="Saisissez votre commentaire ici"
                                  v-model="newComment"
                                  required></textarea>
                    </div>
                    <div class="text-right">
                        <button type="submit" class="btn btn-primary">enregistrer</button>
                    </div>
                </form>
            {% endverbatim %}
        {% endif %}
        {% verbatim %}
            <div class="card my-3 comment" v-for="comment in comments" :id="'comment_'+comment.pk">
                <div class="card-header mussels-chips d-flex justify-content-end">
                    <div class="text-center mx-3" v-if="canUpdate(comment)">
                        <a href="#" class="comment-update" v-on:click.prevent="displayUpdateForm(comment)">
                            <i class="fa fa-pencil"></i>
                        </a>
                    </div>
                    <div class="text-center mx-3" v-if="canDelete(comment)">
                        <a href="#"
                           class="comment-delete"
                           v-on:click.prevent="deleteComment(comment.pk)">
                            <i class="fa fa-remove"></i>
                        </a>
                    </div>

                </div>
                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                        <form action=""
                              v-if="comment===actualComment"
                              v-on:submit.prevent="updateComment(comment)">
                            <div class="form-group">
                                    <textarea class="form-control"
                                              name="comment_text"
                                              id="id_comment_text"
                                              cols="40"
                                              rows="3"
                                              placeholder="Saisissez votre commentaire ici"
                                              v-model="actualComment.comment_text"
                                              required></textarea>
                            </div>
                            <div class="text-right">
                                <button type="submit" class="btn btn-primary">enregistrer</button>
                            </div>
                        </form>

                        <p class="soft-caramel small comment-text">{{ comment.comment_text }}</p>
                        <footer class="blockquote-footer text-muted">
                            <span class="">créé le {{ comment.created | frenchDate }}</span> /
                            <span class="">modifié le {{ comment.updated | frenchDate }}</span>
                            par
                            <cite title="author" class="mussels-chips">{{ comment.username }}</cite>
                        </footer>
                    </blockquote>
                </div>
            </div>
            </div>
        {% endverbatim %}
    </div>
{% endblock %}
{% block contact %}{% endblock %}
{% block custom_js %}
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.23.0/moment-with-locales.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>

    <!--
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    -->
    <script src="{% static 'js/comments.js' %}"></script>
{% endblock %}

