{% load static %}
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
                <h2 class="section-heading">Contactez-nous!</h2>
                <hr class="my-4">
                <p class="mb-5">Vous avez des questions, des remarques? Contactez-nous par mail ou par téléphone !</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 ml-auto text-center">
                <i class="fa fa-phone fa-3x mb-3 sr-contact"></i>
                <p>00 00 00 00 00</p>
            </div>
            <div class="col-lg-4 mr-auto text-center">
                <i class="fa fa-envelope-o fa-3x mb-3 sr-contact"></i>
                <p>
                    <a href="mailto:your-email@your-domain.com">remyetcolette@purbeurre.com</a>
                </p>
            </div>
        </div>
    </div>
</section>