{% load static %}
<header class="masthead text-center text-white d-flex">
    <div class="container my-auto">
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <h1 class="text-uppercase">
                    <strong>Du gras, oui, mais de qualité !</strong>
                </h1>
                <hr>
            </div>
            <div class="col-lg-8 mx-auto">
                <p class="text-faded mb-5">Trouvez un produit de substitution pour ceux que vous consommez tous les jours.</p>
                <!-- <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Find Out More</a> -->
            </div>
            <div class="col-lg-5 mx-auto">
                <form action="/" method="post" class="form-inline">
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="text" id="product" name="product" placeholder="Votre produit" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-primary">Rechercher</button>
                </form>
            </div>

        </div>
    </div>
</header>