{% extends 'base.html' %} {% block header %}
<header class="masthead text-center text-white d-flex">
    <div class="container my-auto white-bg p-5">
        <form action="{% url 'substitute_finder:create_account' %}" method="post">
            {% csrf_token %} {% if errors %}
            <div class="alert alert-danger alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {% for key, error in errors %} {% autoescape off %} {{error}} {% endautoescape %} {% endfor %}
            </div>
            {% endif %}
            <div class="form-group">
                <label for="{{form.email.id_for_label}}" class="mussels-chips">{{form.email.label}}</label>
                {{form.email}}
            </div>
            <div class="form-group">
                <label for="{{form.username.id_for_label}}" class="mussels-chips">{{form.username.label}}</label>
                {{form.username}}
            </div>
            <div class="form-group">
                <label for="{{form.first_name.id_for_label}}" class="mussels-chips">{{form.first_name.label}}</label>
                {{form.first_name}}
            </div>
            <div class="form-group">
                <label for="{{form.last_name.id_for_label}}" class="mussels-chips">{{form.last_name.label}}</label>
                {{form.last_name}}
            </div>
            <div class="form-group">
                <label for="{{form.password..id_for_label}}" class="mussels-chips">{{form.password.label}}</label>
                {{form.password}}
            </div>


            <div class="offset-lg-6 col-lg-2">
                <button type="submit" class="btn btn-default">Créer mon compte</button>
            </div>

        </form>
    </div>
</header>
{% endblock %}