{% extends "base.html" %} {% load i18n static %} {% block extrastyle %}{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static " admin/css/forms.css " %}" />{% endblock %} {% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
    &rsaquo; {% trans 'Password reset' %}
</div>
{% endblock %} {% block title %}{{ title }}{% endblock %} {% block content_title %}
<h1>{{ title }}</h1>{% endblock %} {% block header %}
<header class="masthead text-center text-white d-flex">
    <div class="container my-auto white-bg p-5">
        <p class="mussels-chips">{% trans "Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one." %}</p>
        <form method="post">
            {% csrf_token %} {% if errors %}
            <div class="alert alert-danger alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {% for key, error in errors %} {% autoescape off %} {{error}} {% endautoescape %} {% endfor %}
            </div>
            {% endif %}
            <div class="form-group">
                {{ form.email.errors }}
                <label for="id_email" class="mussels-chips">{% trans 'Email address:' %}</label>
                {{ form.email }}
            </div>
            <input type="submit" class="btn btn-default" value="{% trans 'Reset my password' %}" />
        </form>
    </div>
</header>
{% endblock %}