{% extends "base.html" %} {% load i18n static %}  {% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
    &rsaquo; {% trans 'Password reset confirmation' %}
</div>
{% endblock %} {% block title %}{{ title }}{% endblock %} {% block content_title %}
<h1>{{ title }}</h1>{% endblock %} {% block header %}


<header class="masthead text-center text-white d-flex">
    <div class="container my-auto white-bg p-5">

        {% if validlink %}
        < <p class="mussels-chips">{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>

            <form method="post">{% csrf_token %}
                <fieldset class="module aligned">
                    <div class="form-group field-password1">
                        {{ form.new_password1.errors }}
                        <label class="mussels-chips" for="id_new_password1">{% trans 'New password:' %}</label>
                        {{ form.new_password1 }}
                    </div>
                    <div class="form-group field-password2">
                        {{ form.new_password2.errors }}
                        <label class="mussels-chips" for="id_new_password2">{% trans 'Confirm password:' %}</label>
                        {{ form.new_password2 }}
                    </div>
                    <input type="submit"  class="btn btn-default" value="{% trans 'Change my password' %}" />
                </fieldset>
            </form>
            {% else %}

            <p class="mussels-chips">{% trans "The password reset link was invalid, possibly because it has already been used. Please request a new
                password reset." %}</p>

            {% endif %}
    </div>
</header>









{% endblock %}